<div class="fullHW">
<div class="container card"
fxFlex.xl="20" 
fxFlex.lg="25" 
fxFlex.md="30" 
fxFlex.sm="60" 
fxFlex.xs="90"
fxLayout="column"
fxLayoutAlign="center"
fxLayoutGap="20px">
<div fxLayout="column" fxLayoutAlign="center" >
  <img class="logo" src="/assets/logo.png" />
  <span class="formHeading">Enter your credentials</span>
</div>

  <input id="email" type="text" class="form-control" placeholder="Email"/>
  <input id="pass" type="password" class="form-control" placeholder="Password"/>

  <button type="button" class="btn btn-primary" [routerLink]="['/dashboard']" >Login</button>

</div>
</div>