
<div class="content">
        <app-leftnavbar></app-leftnavbar>

                <div  id="stage" class="panel panel-default">
                        <canvas #mapEditor (treeDrop)="onDrop($event)"
                        [treeAllowDrop]="allowDrop.bind(this)" width="1010" height="500" id="mapEditor" >
                        </canvas>
                        <div class="bottomPanel" >
                                
                        </div>
                </div>

        <app-rightnavbar></app-rightnavbar>
</div>